/* only wrap usual display content - show nativ on smaller screens */

#pagewrapper{
    /*device dependent parameter*/
	width:960px;
	margin: auto;
}

/* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
	#pagewrapper{
        /*device dependent parameter*/
        width:900px;
		margin: auto;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
	#pagewrapper{
        /*device dependent parameter*/
        width:720px;
		margin: auto;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
	#pagewrapper{
        /*device dependent parameter*/
        width:95%;
		margin: auto;
		margin-left:30px;
		margin-right:12px;
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
	#pagewrapper{
        /*device dependent parameter*/
		margin: auto;
		margin-left:24px;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
	#pagewrapper{
        /*device dependent parameter*/
		margin: auto;
		margin-left:24px;
    }
  }



body{	
	background: url("images/noise.png") repeat 0 0 rgba(130,130,130,0.51);
}

body {
	font-family: arial, tahoma, verdana, sans-serif
}


h1,h2,h3,h4,h5,code,pre,a,a:link, p.caption:before{
	font-family: console, "Courier New", Courier, monospace, verdana, arial, sans-serif;
}	


h1, h2{

}
h3{
	margin-top:0
}
h4{
    font-size: 1.2em;
}
h5{
	font-size: 1em;
    margin: 1em 0;
}

p.caption{
	margin-bottom: 6px;
	margin-top: 24px;
	background-color:rgba(40, 120, 170, 0.14);
	font-size:0.8em;
}
p.caption:before{
	content:"-> "
}

code{
	white-space: pre;
	tab-size: 4;
	font-size:small;
	background-color: rgba(190, 100, 100, 0.1);
	display: block;
	overflow-y: scroll;
}

q, q > b{
	font-style: italic;
	color: #666;
}

q{
	border: 1px dotted;
	display: inline-block;
	padding: 6px;
	padding-left: 2em;
	position: relative;
}

q::before, q:before {
	content: open-quote;
	font-size: 2em;
	position: absolute;
	left: 0;
	top: 0;
}
q::after, q:after {
	content: no-close-quote;
}

a, a:link, a:visited{
	color:rgba(40, 120, 170, 1);
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	color:rgba(190, 100, 100, 1);
}

article > h4:before, section > h4:before{	
	content:"";
	display:block;
	position:absolute;
	border:2px solid #999;
	border-radius: 20px 0 0 20px;
	border-right-width: 0px;
	-moz-border-radius: 20px 0 0 20px;
	height:36px;
	width:20px;
	left:-22px;/*incl. border*/
	background:none white;
	margin-top:-13px;
}

article:hover > h4:before, section:hover > h4:before{
	width:60px;
	left:-62px
}


nav ul, nav li{	
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
	display: block;
    overflow: hidden;
}

#nav_main{
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 12px;
}

nav li{
	border-radius: 10px;
	-moz-border-radius: 10px;
	background:#ccc;
    float: left;
    margin-right: 8px;
}

nav li a{
	border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #BBBBBB;
    color: transparent;
    display: block;
    font-size: 0;
    height: 100px;
	width: 100px;
    line-height: 0;
    overflow: hidden;
}

nav li.home a{background-image:url(images/home.png);}
nav li.Ideen a{background-image:url(images/ideas.png);}
nav li.Kontakt a{background-image:url(images/contact.png);}
nav li.Blog a{background-image:url(images/blog.png);}
nav li.Foto a{background-image:url(images/photo.png);}

nav li:hover, nav li.active {
	background-color:#bbb;
}


section.page, nav, section.region, header{
	border-radius: 8px;
    -moz-border-radius: 8px;
    border: 2px solid #999;
    display: block;
	margin-bottom:24px;
	background: none white;
	position:relative;
}

section.region.app{
	background-color:rgba(180, 250, 110, 1);
	margin: 48px;
}

nav{
	display: table;
	width: 100%;
}

.page, .region{
	padding: 12px;
}

article .content{
	max-height: 6.9em;
	overflow: hidden;
	position:relative;
}

article .content:not(.expanded):after{
	content:"...";
	display:block;
	width:2em;
	height:1.25em;
	text-align:right;
	position:absolute;
	bottom:0;
	right:0;
	background:none white;
}

article .content.expanded{
	max-height: none;
}

article .read_on{
	display:block;
	text-align:center;
}

article li{
line-height: 1.3em;
font-size: 0.95em;
}


.todo li.done{background-color:rgba(100, 190, 100, 0.7);}
.todo li.fix{background-color:rgba(250, 230, 100, 0.7);}
.todo li.later{background-color:rgba(100, 100, 100, 0.1);color:rgba(100, 100, 100, 0.6);}
.todo li.muchlater{background-color:rgba(100, 100, 250, 0.05);color:rgba(100, 100, 100, 0.4);}
.todo li.maybe{color:rgba(100, 100, 100, 0.8);}