body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

ul.thumbnails {
    width: 100%;
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
    margin: auto;
    background-color: #ccc;
    padding: inherit;
}

ul.thumbnails > li {
    float: none;
    display: inline-block;
    width: 200px;
    height: 200px;
}

ul.thumbnails > li:last-child {
    margin-right: 30px;
}

.thumbnails .thumbnail {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px;
    width: 100%;
}