/* 
    These Fonts are just for testing purpose inlined
    TODO: remove them and call the google fonts api 
    the usage of these fonts apart from via this API is prohibited
*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  /*http://themes.googleusercontent.com/static/fonts/ptsans/v6/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff*/
  src: local('PT Sans'), local('PTSans-Regular'), url('/fonts/PTSans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('/fonts/PTSans.woff') format('woff');
}

@font-face {
  font-family: 'GFS Didot';
  font-style: normal;
  font-weight: 400;
  /*http://themes.googleusercontent.com/static/fonts/gfsdidot/v4/NjVyNjKxJC9ASa9qAjic8wLUuEpTyoUstqEm5AMlJo4.woff*/
  src: local('GFS Didot Regular'), local('GFSDidot-Regular'), url('/fonts/GFS_Didot.woff') format('woff');
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

ul.thumbnails {
    width: 100%;
    overflow-x: scroll;
    text-align: left;
    white-space: nowrap;
    margin: auto;
    padding: inherit;
}

.encycl .thumbnail {
  background-color: #fafafa;
  border-color: #ddd;
  position:relative;
}

.encycl .thumbnail.empty:before {
  content: "+"; 
  font-family: 'PT Sans', sans-serif;
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  width: 37px;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -20px;
  display: block;
  height: 37px;
  line-height: 37px;
  color: #c5cdc0;
}

.encycl .thumbnail > img {
  height:188px;
  width:188px;
}

ul.thumbnails > li {
    float: none;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 5px;
    position: relative;
}

ul.thumbnails > li:not(:last-child):after{
  content: "*";
    position: absolute;
    top: 50%;
    right: -21px;
    font-size: 30px;
    line-height: 1px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px #a0a0a0    
}


ul.thumbnails > li:last-child {
    margin-right: 40px;
}

.thumbnails .thumbnail {
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}


/* 
    Example section 
    "PaperEncycl-Theme" 

    anthrazit       $shadow1: #202020;
                    $shadow2: #404040;
    spacegray       $shadow3: #a0a0a0;
    paperwhite      $paperwhite1: #e5ede0; 
                    $paperdarken: #c5cdc0;
                    $paperhighlight: #fafafa; 
    mossygreen      $mossygreen: #5F9C11; rgba(95, 156, 17, 1)
    sanddornorange
    vogelbeerred
*/

body {
  display:block;
  /* keep some space on the bottom for .app-version info*/
  margin: 10px auto 80px;
  background-color: #e5ede0;
  min-height: 500px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px;
  max-width: 690px;
  position: relative;
}

html {
  background-color: #202020;
  padding: 0 2%;
}

html .encycl{
  font-family: 'GFS Didot', serif;
  font-size: 14px;
  color: #202020;
}

section {
  margin-bottom: 20px;
}

.encycl a {
  color: #5F9C11;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

.read-more {
  display: inline-block;
  margin-left: 5px;

}

.read-more:before, .read-more:after{
  content: "*";
  font-family: 'GFS Didot', serif;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 1px #a0a0a0;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  line-height: 1px;
  margin: 0 2px;
}

.title, .subtitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.subtitle {
/* @extend .title; */
  font-size: 20px;
  font-weight:400;
}

.encycl button,.encycl .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.encycl .btn {
  color: #e5ede0;
  background-color: #404040;
  border-color: #fff;
}
  
.encycl .btn:hover {
  background-color: #606060;
  border-color: #fff;
}

.encycl p.text {
  text-align: justify;
}


.encycl .btn-primary {
  color: #e5ede0;
  background-color: #202020;
  border-color: #fff;
}  
.encycl .btn-primary:hover {
  background-color: #404040;
  border-color: #fff;
}

.encycl .nav-stacked .list-group-item a{
  color: #202020;
  background-color: #e5ede0;
  border-color: #c5cdc0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.encycl .nav-stacked .list-group-item a:hover{
  background-color: #fafafa;
}

.encycl .nav-stacked > li > a:hover, 
.encycl .nav-stacked > li > a:focus {
  border-color: #c5cdc0;
}

.encycl .lat-name{
  font-family: 'GFS Didot', serif;
  font-size: 16px;
  font-style: italic;
  color: #606060;
  font-weight: normal;
}

.encycl .lat-name:before{
  content: "[";
}

.encycl .lat-name:after{
  content: "]";
}

body > .app-version {
  width: 100%;
  text-align: center;
  bottom: -50px;
  position: absolute;
  color: #404040;
  text-shadow: 0px 1px 0px rgba(96, 96, 96, 0.8), 0 -1px 0 #000;
}

.app-version a {
  color: inherit;
}

.app-version:before, .app-version:after {
  content: "*";
  font-family: 'GFS Didot', serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  line-height: 12px;
  margin: 0 7px;
} 

