<div class="encycl">

  <section>
    <h1 class="title">Krautli</h1>
    <h2 class="subtitle">Log you plant spots to find them later </h2>
    
    <p class="text">Ethnic banjo four loko, mollit tousled laborum hoodie viral labore velit quis before they sold out Carles sint. Cardigan Godard Tonx Neutra, sint 90's art party  Lomo artisan meggings, aliquip drinking vinegar enim craft beer disrupt wolf officia DIY. Cliche elit roof party, vinyl kogi biodiesel minim street art keffiyeh +1. Jean shorts Pinterest leggings, nisi et nihil synth consectetur DIY squid McSweeney's.<a href="#" class="read-more">read more</a></p>
  </section>

  <section>
    <h2 class="subtitle">Krautli - Buttons</h2>
    <button type="button" class="btn btn-primary">Save this plant</button>
    <button type="button" class="btn">Cancel and return</button>
  </section>

  <section>
    <h2 class="subtitle">Krautli - Lists</h2>
    <ul class="nav nav-tabs nav-stacked">
      <li class="list-group-item"><a>Ackergauheil <i class="lat-name">Cras justo odio</i></a></li>
      <li class="list-group-item"><a>Angneswurz <i class="lat-name">Dapibus ac facilisis in</i></a></li>
      <li class="list-group-item"><a>Beisskraut <i class="lat-name">Morbi leo risus</i></a></li>
      <li class="list-group-item"><a>Eibisch-Wurz <i class="lat-name">Porta ac consectetur ac</i></a></li>
      <li class="list-group-item"><a>Sanddorn Traube <i class="lat-name">Vestibulum at eros</i></a></li>
    </ul>
  </section>

  <section>
    <h2 class="subtitle">Krautli - Images</h2>
    <ul class="thumbnails">
      <li>
        <a href="#" class="thumbnail">
          <img src="img/plantpictures/plantpic1.png" alt="">
        </a>
      </li>
      <li>
        <a href="#" class="thumbnail">
          <img src="img/plantpictures/plantpic2.png" alt="">
        </a>
      </li>
      <li>
        <a href="#" class="thumbnail">
          <img src="img/plantpictures/plantpic1.png" alt="">
        </a>
      </li>
      <li>
        <a href="#" class="thumbnail">
          <img src="img/plantpictures/plantpic2.png" alt="">
        </a>
      </li>

      <li>
        <a class="thumbnail empty">
          
        </a>
      </li>
    </ul>
  </section>
</div>