<section class="encycl">
  <h1 class="title">{{plant.name}} #{{plant.id}}</h1>

  <section>
  	<h2 class="subtitle">Plant details</h2>
  	<dl class="row-fluid">
  		<dt class="span2">Latin name:</dt>
  		<dd class="span10"><i class="lat-name">{{plant.latname}}</i></dd>

		<dt class="span2">Botanical name:</dt>
  		<dd class="span10">
  			{{plant.botnames}}
  		</dd>
  	</dl>

  	

  <!-- Plant image thumbs -->
  <section>
		<h2 class="subtitle">Sample images:</h2>
	  <ul class="thumbnails">
		  <li>
		    <a href="#" class="thumbnail">
		      <img src="img/plantpictures/plantpic1.png" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#" class="thumbnail">
		      <img src="img/plantpictures/plantpic2.png" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#" class="thumbnail">
		      <img src="img/plantpictures/plantpic1.png" alt="">
		    </a>
		  </li>
		  <li>
		    <a href="#" class="thumbnail">
		      <img src="img/plantpictures/plantpic2.png" alt="">
		    </a>
		  </li>

		  <li>
		    <a class="thumbnail empty">
		    	
		    </a>
		  </li>
		</ul>
	</section>

	<!-- Adjust the radius-->
	<section>
    	<label for="plant_range" class="subtitle">Growing area (range):</label>
		<p><div id="plant_range" ng-init="radius=10" class="btn-group">
		  <button class="btn" ng-click="radius=radius-10">-</button>
		  <button class="btn" data-radius="{{radius}}">{{radius}}m</button>
		  <button class="btn" ng-click="radius=radius+10">+</button>
		</div></p>

		<button ng-click="savePlantPosition(plant)" class="btn-primary btn-large">Save Plant Position (Nr. {{plant.locations.length +1}})</button>

		<h2 ng-show="plant.locations.length > 0" class="subtitle">Where they are growing:</h2>
		<ul class="nav nav-tabs nav-stacked">
		    <li ng-repeat="pos in plant.locations ">
		   		Lon: {{pos.long}}, Lat: {{pos.lat}}, Range: {{pos.range}}
		    </li>
		</ul>

	</section>
</section>