<section>
  <div class="navbar">
    <form class="navbar-inner" action="">
      <label class="navbar-search pull-left">

        <!-- Typing in the searchfield filters the list of plants available -->
        <input type="text" class="search-query" data-ng-model="searchterm" type="text" value="" placeholder="e.g. Arnika" >
      </label>

      <!-- Show all or just the own plants
           TODO[low]: add functionality -->
      <div class="btn-group pull-right">
        <button class="btn btn-success" ng-click="togglePlanttype()">All</button>
        <button class="btn" ng-click="togglePlanttype({ own : true })">Own</button>
      </div>
    </form>
  </div>
    
  <ul class="nav nav-tabs nav-stacked">

    <!-- Show all plants in plantNames collection filtered and ordered -->
    <li ng-repeat="plant in filteredPlants = ( plantNames | filter:searchterm | filter:plantTypeFilter | orderBy:'name' ) ">
      <a href="#/details/{{plant.id}}/{{plant.name}}">
        {{plant.name}}

        <!-- If locations are found for that plant - show the count -->
        <span ng-show="plant.locations.length > 0" 
              class="badge badge-success pull-right" 
              title="{{plant.locations.length}} locations saved">
          {{plant.locations.length}}
        </span>
      </a>
    </li>
  </ul>

  <!-- Add new plantname to plantNames list
       This region is only shown - in case the searchterm does not appear in the List
       based on: http://docs.angularjs.org/api/ng.filter:filter#comment-1107533089 -->
  <section id="suggestName_AddAsNewPlant" ng-show="filteredPlants.length <= 3">
     <p>If the plant you searched for is not in the list you can add it as a new plant.</p>
    <button data-ng-click="addNewPlantName()" class="btn btn-large btn-primary">
      Add "{{searchterm}}" as new plant
    </button>
  </section>

</section>