<section>
  <h1>Serch for a plant name</h1>
  <p>If the plant you searched for is not in the list you can add it as a new plant.</p>

	<div class="navbar">
		<form class="navbar-inner" action="">
			<label class="navbar-search pull-left">
				<input type="text" class="search-query" data-ng-model="searchterm" type="text" value="" placeholder="e.g. Arnika" >
	  	</label>
	  </form>
	</div>
	  
  <ul class="nav nav-tabs nav-stacked">
	  <li ng-repeat="plant in plantNames | orderBy:'plant.name' | filter:searchterm">
	    <a href="">{{plant.name}}</a>
	  </li>
	</ul>

	<!-- In case the searchterm does not appear in the List-->
	<section id="suggestName_AddAsNewPlant" ng-show="showAddNewPlantButton()">
		<h2>There are no plants with that name</h2>
		<button data-ng-click="addNewPlantName()" class="btn btn-large btn-primary">Add as new plant</button>
		<p>New plants will be added to your plantlist.</p>
	</section>

</section>